<div class="fixed bottom-0 inset-x-0 bg-white  border-t border-slate-100  p-4 pb-6 shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.05)] z-40">
          <button (click)="goToCheckout()" class="w-full bg-primary hover:bg-[#d63d0b] text-white font-bold text-[17px] py-4 rounded-xl shadow-lg shadow-primary/25 transition-all active:scale-[0.98] flex items-center justify-center gap-2 group">
             <span>Prosseguir para Checkout</span>
             <span class="material-symbols-outlined group-hover:translate-x-1 transition-transform">arrow_forward</span>
          </button>
</div>

