<app-checkout-header></app-checkout-header>
<main class="flex-1 overflow-y-auto px-4 pt-4 pb-4 no-scrollbar scroll-smooth">
    <app-checkout-customer
       [name]="name()"
       [phone]="phone()"
       (setName)="name.set($event)"
       (setPhone)="phone.set($event)">
    </app-checkout-customer>
    <app-h-spacer></app-h-spacer>
    <app-checkout-delivery
       [address]="address()"
       [delivery]="delivery()"
       (setDelivery)="onSetDelivery($event)"
       (setAddres)="address.set($event)"
       [fees]="fees()"
       (feeSelected)="onFeeSelected($event)"
    >
    </app-checkout-delivery>
    
    <app-h-spacer></app-h-spacer>

    <app-checkout-payment 
       [payments]="payments()"
       (paymentSelected)="onPaymentSelected($event)"
     >
     </app-checkout-payment>

    <app-h-spacer></app-h-spacer>

    <app-checkout-summary 
      [delivery]="delivery()"
      [selectedFee]="selectedFee()"
      [items]="cartItems$ | async">
   </app-checkout-summary>

     <app-h-spacer></app-h-spacer>

     <app-checkout-instructions
       (setInstructions)="instructions.set($event)"
     >
     </app-checkout-instructions>
     
</main>
@if (showAlertDialog) {
<app-alert-dialog
        [message]="validationErrorMessage()"
        (closed)="closeAlertDialog()">
</app-alert-dialog>
}
<app-finalize-order
  [delivery]="delivery()"
  [selectedFee]="selectedFee()"
  (confirmOrder)="sendOrder()"
 ></app-finalize-order>

