<app-checkout-header></app-checkout-header>
<main class="flex-1 overflow-y-auto px-4 pt-4 pb-4 no-scrollbar scroll-smooth">
    <app-checkout-customer
       (setName)="name.set($event)"
       (setPhone)="phone.set($event)">
    </app-checkout-customer>
    <app-h-spacer></app-h-spacer>
    <app-checkout-delivery
       [delivery]="delivery()"
       (setDelivery)="onSetDelivery($event)"
       (setAddres)="address.set($event)"
    >
    </app-checkout-delivery>
    <app-h-spacer></app-h-spacer>
    <app-checkout-payment></app-checkout-payment>
    <app-h-spacer></app-h-spacer>
    <app-checkout-instructions
       (setInstructions)="instructions.set($event)"
    >
    </app-checkout-instructions>
    <app-h-spacer></app-h-spacer>
    <app-checkout-summary></app-checkout-summary>
</main>
