<app-product-header 
   [image]="productData.imagem"
>
</app-product-header>
<app-pizza-description 
   [name]="productData.nome" 
   [description]="productData.descricao" 
   [price]="productData.preco"
   [waitTime]="waitTime"
></app-pizza-description>
<app-pizza-tamanho 
  [tamanhos]="tamanhos"
  (tamanhoSelecionado)="onTamanhoSelecionado($event)"
></app-pizza-tamanho>
<app-pizza-sabores 
  [quantidadeSaboresInicial]="quantidadeSabores"
  (quantidadeSaboresChange)="onQuantidadeSaboresChange($event)"
></app-pizza-sabores>
<app-pizza-sabores-seletor
  [maxSabores]="quantidadeSabores"
  [saboresSelecionados]="saboresSelecionados"
  [tamanhoSelecionado]="tamanhoSelecionado"
  (saboresChange)="setSaboresSelecionados($event)"
/>
<app-pizza-borda
  [tamanhoSelecionado]="tamanhoSelecionado" 
  (bordaSelecionadaChange)="setBordaSelecionada($event)"
  ></app-pizza-borda>
<app-pizza-extras
  [tamanhoSelecionado]="tamanhoSelecionado"
  (extrasSelecionadosChange)="extras = $event"
  (extrasSelecionadosChange)="onExtrasChange($event)"
/>
<app-pizza-instructions 
  (instructionsChange)="instructions = $event"
></app-pizza-instructions>
@if(isOpen){
  <app-pizza-add 
    [productTotal]="productTotal" 
    [quantity]="quantity"
    (quantityChange)="onQuantityChange($event)"
    (addToCart)="onAddToCart()"
    >
  </app-pizza-add>
}
@if (showAlertDialog) {
<app-alert-dialog
        [message]="validationErrorMessage()"
        (closed)="closeAlertDialog()">
</app-alert-dialog>
}