<div class="p-4 bg-surface-light rounded-md shadow-gray-300 shadow">
  <h3 class="text-text-main text-lg font-bold mb-4">Tipo de Entrega</h3>

  <div class="flex p-1 bg-gray-100 rounded-xl mb-6">
    <button
      type="button"
      (click)="selectDeliveryType(true)"
      [class.bg-white]="delivery"
      [class.shadow-sm]="delivery"
      [class.font-bold]="delivery"
      [class.text-primary]="delivery"
      class="flex-1 py-2.5 rounded-lg text-sm transition-all flex items-center justify-center gap-2"
      [class.text-text-secondary]="!delivery"
      [class.hover:text-text-main]="!delivery">
      <span class="material-symbols-outlined text-[20px]">moped</span>
      Entregar
    </button>

    <button
      type="button"
      (click)="selectDeliveryType(false)"
      [class.bg-white]="!delivery"
      [class.shadow-sm]="!delivery"
      [class.font-bold]="!delivery"
      [class.text-primary]="!delivery"
      class="flex-1 py-2.5 rounded-lg text-sm transition-all flex items-center justify-center gap-2"
      [class.text-text-secondary]="delivery"
      [class.hover:text-text-main]="delivery">
      <span class="material-symbols-outlined text-[20px]">storefront</span>
      Retirar
    </button>
  </div>

  
  @if (delivery) {
    <div class="space-y-4 animate-fade-in">
      <div class="flex gap-3 items-start">
        <div class="flex-1">
          <label class="block mb-3">
            <span class="text-sm font-medium text-text-main  mb-1.5 block">
              Endereço
            </span>
            <textarea
              (input)="onChangeAddressInput($event)"
              class="w-full h-16 rounded-lg border-2 border-gray-200  bg-gray-50 text-text-main  px-4 focus:border-primary focus:ring-primary transition-all"
              placeholder="Av. Paulista, 1578"
            ></textarea>
          </label>
        </div>
      </div>
    </div>
  }
   @if (delivery) {
    <div class="space-y-4 animate-fade-in">
      <div class="flex gap-3 items-start">
        <div class="flex-1">
          <label class="block mb-3">
            <span class="text-sm font-medium text-text-main  mb-1.5 block">
              Bairros Atendidos
            </span>
            <select class="w-full p-4 text-slate-700 font-medium rounded-lg border-2 border-gray-200  bg-gray-50 appearance-none cursor-pointer focus:outline-none focus:ring-2 focus:ring-primary">
               @for (fee of fees(); track fee.id) {
                  <option
                    [value]="fee.id"
                    [selected]="_selected()?.id === fee.id"
                  >
                    {{fee.bairro}} - R$ {{fee.valor.replace('.', ',')}}
                  </option>
               }
            </select>
          </label>
        </div>
      </div>
    </div>
  }
</div>