<div 
  class="flex gap-4 p-3 rounded-xl border transition-all"
  [ngClass]="{
    'border-primary bg-primary/5': selecionado,
    'border-slate-200 hover:border-slate-300': !selecionado && !disabled,
    'opacity-50 cursor-not-allowed': disabled
  }"
  (click)="onSelect()"
>
  @if (pizza.imagem) {
    <img [src]="pizza.imagem" alt="{{pizza.nome}}" class="w-20 h-20 object-cover rounded-lg" />
  }
  <div class="flex-1">
    <h4 class="font-semibold text-slate-900">{{ pizza.nome }}</h4>
    <p class="text-sm text-slate-600 line-clamp-2">{{ pizza.descricao }}</p>
    <!-- Preço dinâmico aqui -->
    <p class="mt-1 text-sm font-bold text-primary text-right">
      R$ {{ precoExibido.replace('.', ',') }}
    </p>
  </div>
  @if (selecionado) {
    <span class="material-symbols-outlined text-primary self-center">check_circle</span>
  }
</div>