<div class="p-4 bg-surface-light rounded-md shadow-gray-300 shadow">
   <h3 class="text-text-maintext-lg font-bold mb-4">Resumo do Pedido</h3>
   <div class="bg-gray-50 rounded-xl p-4 space-y-3">
      @for (item of items; track item.id) {

         <div class="flex justify-between items-center gap-3">
            <div class="bg-gray-200  w-6 h-6 rounded flex items-center justify-center text-xs font-bold text-text-secondary">{{item.quantidade}}x</div>
            <div class="flex-1">
               <p class="text-sm font-medium text-text-main ">{{item.produto.nome}}</p>
            </div>
            <p class="text-sm font-semibold text-primary ">R$ {{item.total.toFixed(2).replace('.', ',')}}</p>
         </div>

      }
   </div>
   
   <div class="mt-4 mx-2 space-y-2">
       @if (delivery) {
         <div class="flex justify-between text-sm text-slate-700">
            <span>Produtos</span>
            <span>R$ {{this.cartService.getValorTotal().toFixed(2).replace('.', ',')}}</span>
         </div>
         <div class="flex justify-between text-sm text-slate-700">
            <span>Taxa de entrega</span>
            <span>+R$ {{(selectedFee?.valor ?? '0').replace('.', ',')}}</span>
         </div>
      }
      <div class="border-t border-dashed border-gray-300  my-2 pt-2 flex justify-between items-center">
         <span class="text-base font-bold text-text-main ">Total</span>
         <span class="font-semibold text-primary">R$ {{getTotalPedido().toFixed(2).replace('.', ',')}}</span>
      </div>
   </div>
 
 </div>
