<div class="flex flex-col items-center justify-center h-screen">

       <div class="flex items-center gap-2">
          <div class="flex items-center justify-center size-8 rounded-full bg-primary/10 text-primary">
             <span class="material-symbols-outlined text-3xl text-primary">lunch_dining</span>
          </div>
          <h1 class="text-3xl font-extrabold tracking-tight text-primary">Delivroo</h1>
       </div>

        <p class="mt-8 text-xl text-gray-500">Seu delivery sem taxas está aqui.</p>
   
</div>
