<app-product-header 
   [image]="productData.imagem"
>
</app-product-header>
<app-product-description 
   [name]="productData.nome" 
   [description]="productData.descricao" 
   [price]="productData.preco"
   [waitTime]="waitTime"
>
</app-product-description>
@for (required of productData.obrigatorios;track $index) {
    <app-product-required-item 
       [item]="required"
       (opcaoSelecionada)="onRequiredOptionSelected($event)"
     >
      </app-product-required-item>
}
@if(productData.adicionais.length>0){
  <app-product-extras 
    [extras]="productData.adicionais" 
    (totalExtrasChange)="onTotalExtrasChange($event)"
    (selectedExtrasChange)="onSelectedExtrasChange($event)">
  </app-product-extras>
}
<app-product-instructions
  (instructionsChange)="instructions = $event"
>
</app-product-instructions>
<app-product-add 
  [productTotal]="productTotal" 
  [quantity]="quantity"
  (quantityChange)="onQuantityChange($event)"
  (addToCart)="onAddToCart()"
  >
</app-product-add>