<div class="p-4 bg-surface-light rounded-md shadow-gray-300 shadow">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-text-main text-lg font-bold">Forma de Pagamento</h3>
    
  </div>

  @if (payments().length === 0) {
    <p class="text-slate-500">Nenhuma forma de pagamento disponível</p>
  } @else {
    <div class="bg-white rounded-xl overflow-hidden shadow-sm border border-slate-100 divide-y divide-slate-100">
      @for (payment of payments(); track payment.id) {
        <label class="flex items-center justify-between p-4 cursor-pointer hover:bg-slate-50 transition-colors">
          <div class="flex items-center gap-3">
            <input
              type="radio"
              [name]="'payment-group'"
              [id]="'payment-' + payment.id"
              [value]="payment.id"
              [checked]="isSelected(payment)"
              (change)="onPaymentChange(payment)"
              class="size-5 accent-primary border-slate-300 focus:ring-primary bg-transparent"
            />
            <span class="text-slate-700 font-medium">{{ payment.nome }}</span>
          </div>
        </label>
      }
    </div>
  }
</div>