<div class="mt-6 px-4">
   <div class="flex justify-between items-center mb-3 px-1">
      <h3 class="text-lg font-bold text-slate-900 ">Extras</h3>
      <span class="px-2 py-1 rounded bg-slate-200 text-slate-600  text-xs font-bold uppercase tracking-wider">Opcional</span>
   </div>
   <div class="bg-white  rounded-xl overflow-hidden shadow-sm border border-slate-100  divide-y divide-slate-100 ">
        @for (extra of extras;track $index) {
            <app-product-extra-item [extra]="extra" (extraToggled)="onExtraToggled($event)"></app-product-extra-item>
        }
  </div>
</div>
