   
   <app-cart-header></app-cart-header>
   <main class="flex-1 overflow-y-auto px-4 pt-4 pb-4 no-scrollbar scroll-smooth">
       <div *ngIf="(cartItems$ | async)?.length" class="flex flex-col gap-4 md:grid grid-cols-2 px-4 lg:grid-cols-3">
             <app-cart-item 
                *ngFor="let item of cartItems$ | async"
                [item]="item"
                (remove)="cartService.removerItem($event)"
                (updateQuantity)="cartService.atualizarQuantidade($event.id, $event.quantidade)"
             >
             </app-cart-item>
             
       </div>
       <div *ngIf="!(cartItems$ | async)?.length" class="flex flex-col items-center justify-center text-center">
                <app-cart-empty></app-cart-empty>
       </div>
       <app-cart-total></app-cart-total>
       <div *ngIf="(cartItems$ | async)?.length">
         <app-cart-checkout></app-cart-checkout>
       </div>
   </main>
   
