<header class="flex items-center justify-between px-5 py-4 bg-surface-light z-20 shadow-sm border-b border-gray-100 ">
   <div class="flex gap-4 items-center">
      <button (click)="back()" class="flex items-center justify-center w-10 h-10 -ml-2 rounded-full hover:bg-gray-100  transition-colors group">
         <span class="material-symbols-outlined text-slate-900 group-hover:scale-110 transition-transform">arrow_back</span>
      </button>
      <h2 class="text-lg font-bold leading-tight tracking-tight text-primary ">Finalizar Pedido</h2>
   </div>
</header>

