<div class="fixed bottom-0 inset-x-0 bg-white  border-t border-slate-100  p-4 pb-6 shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.05)] z-40">
   <div class="flex items-center justify-between gap-4 max-w-2xl mx-auto">
      <div class="flex items-center gap-4 bg-slate-50 rounded-lg p-1.5 border border-slate-200 shrink-0">
         <button (click)="decrease()" [disabled]="quantity <= 1" class="size-8 md:size-10 flex items-center justify-center rounded-md bg-white  shadow-sm text-slate-600  hover:text-primary active:scale-95 transition-all disabled:opacity-50">
            <span class="material-symbols-outlined" style="font-size: 20px;">remove</span>
         </button>
         <span class="font-bold text-lg w-4 text-center text-slate-900 ">{{quantity}}</span>
         <button  (click)="increase()" class="size-8 md:size-10 flex items-center justify-center rounded-md bg-primary text-white shadow-sm hover:bg-primary/90 active:scale-95 transition-all">
            <span class="material-symbols-outlined" style="font-size: 20px;">add</span>
         </button>
       </div>
       <button (click)="onAddToCart()" class="flex-1 bg-primary hover:bg-primary/90 text-white text-sm rounded-xl h-12 md:h-14 flex items-center justify-between px-6 font-bold text-base md:text-lg shadow-lg shadow-primary/20 active:scale-[0.98] transition-all">
          <span>Adicionar</span>
          <span>R$ {{productTotal.toFixed(2).replace('.', ',')}}</span>
       </button>
   </div>
</div>

