<article class="flex gap-4 p-3 bg-surface-light rounded-xl shadow-sm border border-slate-100  hover:border-primary/30 transition-colors">
   <div class="shrink-0">
      <div class="bg-center bg-no-repeat bg-cover rounded-lg w-[88px] h-[88px]" data-alt="product image" [ngStyle]="{'background-image': 'url(' + storeService.BASE_STORAGE + '/' + item.produto?.imagem + ')'}">
      </div>
   </div>
   <div class="flex flex-1 flex-col justify-between py-0.5">
        <div>
            <div class="flex justify-between items-start gap-2">
                <h3 class="text-base font-bold text-slate-900  leading-tight line-clamp-2">{{ item.produto?.nome }}</h3>
                <button (click)="excluir()" class="text-slate-400 hover:text-red-500 transition-colors p-1 -mr-2 -mt-2 rounded-full hover:bg-gray-50 ">
                    <span class="material-symbols-outlined text-[20px]">delete</span>
                </button>
            </div>
            <p class="text-xs text-slate-500  mt-1 leading-snug font-medium">
                {{ item.obrigatorios || '' }} {{ item.adicionais ? ' | ' + item.adicionais : '' }}
                {{ item.observacao ? ' | Obs. : ' + item.observacao : '' }}
            </p>
        </div>
        <div class="flex justify-between items-end mt-3">
            <p class="text-base font-bold text-primary ">R$ {{ item.total.toFixed(2).replace('.', ',') }}</p>
            <div class="flex items-center gap-3 bg-background-light  rounded-lg px-2 py-1 border border-gray-100">
                <button (click)="decrementar()" class="flex items-center justify-center w-6 h-6 rounded bg-white  shadow-sm text-slate-600  hover:text-primary transition-colors active:scale-95">
                    <span class="material-symbols-outlined text-[16px] font-bold">remove</span>
                </button>
                <span class="text-sm font-bold w-3 text-center tabular-nums">{{ item.quantidade }}</span>
                <button  (click)="incrementar()" class="flex items-center justify-center w-6 h-6 rounded bg-primary text-white shadow-sm hover:brightness-105 transition-all active:scale-95">
                    <span class="material-symbols-outlined text-[16px] font-bold">add</span>
                </button>
            </div>
        </div>
   </div>
</article>
